Monitoring/Connected Services/JCDecauxAdminService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/JCDecauxLibrary/Service2/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JCDecauxLibrary" />
  <xs:element name="GetStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JCDecauxLibrary" minOccurs="0" name="GetStatsResult" nillable="true" type="q1:AdminStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeCache" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JCDecauxLibrary" minOccurs="0" name="SetTimeCacheResult" nillable="true" type="q2:AdminStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeForRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeForRequests" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeForRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JCDecauxLibrary" minOccurs="0" name="SetTimeForRequestsResult" nillable="true" type="q3:AdminStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>