ConsoleClient/Connected Services/JCDecauxServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/JCDecauxLibrary" />
  <xs:element name="GetTowns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTownsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JCDecauxLibrary" minOccurs="0" name="GetTownsResult" nillable="true" type="q1:ArrayOfTown" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsFromTown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsFromTownResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationsFromTownEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationsFromTownEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationsFromTownFinishedEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationsFromTownFinishedEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationFinishedEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeGetStationFinishedEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GotStationsFromTown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JCDecauxLibrary" minOccurs="0" name="stationsResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GotStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JCDecauxLibrary" minOccurs="0" name="stationResult" nillable="true" type="q3:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsFinished">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationFinished">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>